<template>
  <div id="container">
    <div id="nav">
      <router-link :to="{ name: 'home' }">Home</router-link>
      <router-link :to="{ name: 'history' }">History</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
};
</script>

<style>
body {
  max-width: 1024px;
  margin: auto;
  background-color: rgb(165, 218, 127);
}

h1 {
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  background-color: white;
  width: 1024px;
  min-height: 600px;
  text-align: center;
  margin: 10px auto;
}

#task {
  text-align: center;
  display: inline;
  margin: 0 auto;
  width: 300px;
  height: 24px;
  vertical-align: bottom;
  font-size: 15px;
}

#task-button {
  display: inline;
  height: 30px;
  width: 30px;
  color: white;
  background-color: black;
  font-size: 25px;
  text-align: center;
  border: none;
  margin: 0 10px;
  border-radius: 5px;
}

#list-container {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.list-item {
  cursor: pointer;
  user-select: none;
  padding: 5px 0;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  transition: 0.1s;
}

.list-item:hover {
  box-shadow: 0 0 10px 0 #000;
}

#nav {
  padding: 15px 0;
}

#nav a {
  padding: 0 15px;
}
</style>
