<template>
  <div id="container">
    <h1>To do list</h1>
    <input
      type="text"
      id="task"
      placeholder="add a new task"
      v-model="task"
      @keypress.enter="addTask"
    />
    <button id="task-button" @click="addTask">+</button>
    <div>
      <small><b>Press enter to add new</b></small>
    </div>
    <hr />
    <div id="list-container">
      <template v-if="!tasks.length">
        <div><i>Add some one task</i></div>
      </template>
      <template v-else>
        <div
          class="list-item"
          v-for="(task, index) in completedIsLast"
          :key="index"
          @click="finishTask(task)"
          @dblclick="deleteTask(task)"
          title="Double click for delete"
        >
          <template v-if="task.completed">
            <del>{{ task.title }}</del>
          </template>
          <template v-else>
            {{ task.title }}
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data: function () {
    return {
      task: "",
      tasks: JSON.parse(localStorage.getItem("stored_tasks")) || [],
    };
  },
  computed: {
    completedIsLast() {
      return [...this.tasks].sort((task) => (task.completed ? 1 : -1));
    },
  },
  methods: {
    addTask() {
      if (
        this.tasks.find(
          (task) => task.title === this.task || task.title.includes(this.task)
        )
      )
        return;

      const newTask = {
        title: this.task,
        completed: false,
        created: new Date(),
      };

      this.tasks.push(newTask);

      this.task = "";

      let storedTasks = JSON.parse(localStorage.getItem("stored_tasks")) || [];
      storedTasks.push(newTask);
      localStorage.setItem("stored_tasks", JSON.stringify(storedTasks));
    },
    finishTask(task) {
      task.completed = true;
      let storedTasks = JSON.parse(localStorage.getItem("stored_tasks")) || [];
      storedTasks = this.tasks;
      localStorage.setItem("stored_tasks", JSON.stringify(storedTasks));
    },
    deleteTask(task) {
      this.tasks = this.tasks.filter((t) => t.title !== task.title);

      let storedTasks = JSON.parse(localStorage.getItem("stored_tasks")) || [];
      storedTasks = this.tasks;
      localStorage.setItem("stored_tasks", JSON.stringify(storedTasks));

      let storedDeletedTasks =
        JSON.parse(localStorage.getItem("stored_deleted_tasks")) || [];

      storedDeletedTasks.push(task);

      localStorage.setItem(
        "stored_deleted_tasks",
        JSON.stringify(storedDeletedTasks)
      );
    },
  },
};
</script>
